.alert {
    position: fixed;
    text-align: center;
    top: 3.5rem;
    left: 50%;
    z-index: 15;
    transform: translate(-50%, 0);
    border-radius: 3px;
    padding: 0.2rem 0.5rem;
    transform-origin: top;
    transition: transform 300ms;
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.623);
    color: white;
}

.alert.close {
    transform: translate(-50%, -500%);
}
