.footer {
    position: fixed;
    bottom: 0;
    border-top: solid rgb(77, 77, 77) 1px;
    height: 3rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 0 3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    color: rgb(64, 61, 90);
}

.back-button {
    background: none repeat scroll 0 0 transparent;
    border: none;
    cursor: pointer;
    color: rgb(64, 61, 90);
}

.back-button:active,
.kart-button:active {
    color: white;
}

.kart-button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
    color: rgb(64, 61, 90);
}

.kart-button:focus {
    outline: none;
}

.kart-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: rgb(0, 255, 13);
    color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
}
