.page {
    padding: 3.5rem 0.5rem;
}

.content {
    h1 {
        text-align: center;
    }
}

.error-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color: rgb(121, 0, 0);
    }

    a {
        text-decoration: underline;
    }
}
